<div id="<%= dom_id species %>" class="flex flex-row justify-between items-center block w-full p-6 mt-4 border-gray-200 rounded-lg shadow-sm bg-white border-white-700 hover:bg-red-100">
  <div >
    <p class="mb-2 text-xl font-bold tracking-tight text-gray">
      <%= species.scientific_name %>
    </p>
    <p class="font-normal text-gray-700 dark:text-gray-600">
      <%= classification_formatter(species["kingdom"], species["phylum"], species["order"], species["class"], species["family"], species["genus"]) %>
    </p>
    <p class="font-normal text-gray-700 dark:text-gray-600">
      Common Name: <%= species.common_name %>
    </p>
  </div>

  <div class="flex flex-row">
    <% if action_name != "show" %>
      <%= link_to "View", species, class: "text-center rounded-lg py-3 px-5 bg-red-600 text-white inline-block font-medium cursor-pointer" %>
      <%= link_to 'Edit', edit_species_path(species), class: "text-center rounded-lg py-3 px-5 ml-2 bg-red-600 text-white inline-block font-medium cursor-pointer" %>
    <% end %>
  </div>
</div>