<div id="<%= dom_id species %>">
  <div>
    <p class="mb-2 text-sm font-bold tracking-tight">
      <%= species.ephitet %>
    </p>
    <p class="mb-2 text-sm font-bold tracking-tight">
      <%= species.name %>
    </p>
    <p class="mb-2 text-sm font-bold tracking-tight">
      <%= species.kingdom %>
    </p>
    <p class="mb-2 text-sm font-bold tracking-tight">
      <%= species.phylum %>
    </p>
    <p class="mb-2 text-sm font-bold tracking-tight">
      <%= species.classification %>
    </p>
    <p class="mb-2 text-sm font-bold tracking-tight">
      <%= species.order %>
    </p>
    <p class="mb-2 text-sm font-bold tracking-tight">
      <%= species.family %>
    </p>
    <p class="mb-2 text-sm font-bold tracking-tight">
      <%= species.genus %>
    </p>
    <p class="mb-2 text-sm font-bold tracking-tight">
      <%= species.location %>
    </p>
    <p class="mb-2 text-sm font-bold tracking-tight">
      <%= species.description %>
    </p>
  </div>
  <%= render "species/galleries/gallery", species_model: species %>
  <%= render "species/publications/publication", species_model: species %>
  <% if action_name != "show" %>
    <%= link_to "View", species, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit', edit_species_path(species), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
