<aside class="h-screen w-64 bg-red-800" aria-label="Sidebar">
  <div class="h-full py-4 px-3 bg-red-50 bg-red-800">
    <%= link_to dashboard_path, class: "flex items-center pl-2.5 mb-5" do %>
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Species</span>
    <% end %>
    <div class="sidebar-height flex flex-col justify-between">
      <ul class="space-y-2">
        <li>
          <%= link_to dashboard_path, class: sidebar_item_style do %>
            <div class="flex items-center">
              <%= render "icons/dashboard" %>
              <span class="ml-3">Dashboard</span>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to new_species_path, class: sidebar_item_style do %>
            <div class="flex items-center">
              <%= render "icons/plus-circle" %>
              <span class="ml-3">Add Entry</span>
            </div>
          <% end %>
        </li>
      </ul>
      <ul class="pt-4 mt-4 space-y-2 border-t border-gray-100">
        <li>
          <%= link_to destroy_user_session_path, class: sidebar_item_style, data: { turbo_method: :delete } do %>
            <%= render "icons/logout" %>
            <span class="flex-1 ml-3 whitespace-nowrap">Logout</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</aside>
