<div class="flex flex-col sticky top-0 items-center w-64 h-screen overflow-hidden text-white bg-red-800">
  <%= link_to root_path, class: "flex items-center w-full px-3 pl-4 mt-3" do %>
    <span class="ml-2 text-2xl font-semibold">ArkiBuhay</span>
  <% end %>
  <div class="flex flex-col justify-between w-full h-full px-2 ">
    <!-- species navigation -->
    <div class="flex flex-col items-center w-full mt-3 border-t border-white">
      <%= render "shared/sidebar-items", path: dashboard_path, icon: "dashboard", text: "Dashboard", data: {} %>
      <%= render "shared/sidebar-items", path: species_index_path, icon: "search", text: "Species", data: {} %>
      <% if current_user %>
        <%= render "shared/sidebar-items", path: new_species_path, icon: "plus-circle", text: "Add Entry", data: {} %>
      <% end %>
    </div>
    <!-- account navigation -->
    <div class="flex flex-col items-center w-full mt-3 mb-3 border-t border-white">
      <% if current_user %>
        <%= render "shared/sidebar-items", path: profile_path, icon: "account", text: "Account", data: {} %>
        <%= render "shared/sidebar-items", path: destroy_user_session_path, icon: "logout", text: "Log Out", data: { turbo_method: :delete } %>
      <% else %>
        <%= render "shared/sidebar-items", path: new_user_session_path, icon: "login", text: "Log In", data: {} %>
        <%= render "shared/sidebar-items", path: new_user_registration_path, icon: "signup", text: "Sign Up", data: {} %>
      <% end %>
    </div>
  </div>
</div>
